<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	<section class="banner">
	<div class="text-center">
	<h1 class="font-weight-bold">Mobile Contact Master</h1>
	<p>
	Start collecting your contacts in very smarter way. We provide very 
	efficient and smarter way of handling contacts.
	</p>
	<button class="btn bg-primary btn-lg text-white">Get Start</button>
	</div>
	</section>
</body>
</html>